<h1>{{user.username}}'s Bunks</h1>
<a href="/jitterbunk/">All bunks</a>
{% if user_bunks %}
<style>
    table, th, td{
        border: 1px solid black;
        text-align: center;
    }
</style>

    <table style="width:100%">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Time</th>
        {% for bunk in user_bunks %}
            <tr> 
                <td>{{ bunk.from_user.username }}<br><img src = {{ bunk.from_user.photo }} width="100"/></td>
                <td>{{ bunk.to_user.username }} <br><img src = {{ bunk.to_user.photo }} width="100"/></td>
                <td>{{ bunk.time }} </td>
            </tr> 
        {% endfor %}
    </table>
{% else %}
    <p>No bunks.</p>
{% endif %}